# The directory containing the project
# e.g. ~/src/hoocsd-node-proxy
PROJ_DIR=/home/kevin/src/hoocsd-node-proxy

# The build folder
DEST_DIR=${PROJ_DIR}/build

# Source folder
SRC_DIR=${PROJ_DIR}/src
